@import '../../styles/root.scss';


.message {
    border: 1px solid darkcyan;
    display: grid;
    grid-template-columns: minMax(0px, 150px) minMax(0px, 1000px);
    align-items: center;
    gap: adaptiveSize(20, 5);
    align-items: start;

    .left {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-template-areas:
            't-1 t-1'
            't-2 t-3'
        ;
        padding: 5px;

        .avatar {
            grid-area: t-1;
            width: adaptiveSize(100, 50);
        }

        .like {
            grid-area: t-2;
            width: adaptiveSize(40, 20);
            cursor: pointer;
            text-align: center;

            // img {}

            // span {}
        }

        .dislike {
            grid-area: t-3;
            width: adaptiveSize(40, 20);
            cursor: pointer;
            text-align: center;
        }
    }

    .right {
        word-wrap: break-word;
    }
}

@media (max-width:425px) {
    .message {
        grid-template-columns: minmax(0px, 1000px);
    }
}