@import '../../styles/root.scss';

.myPost {
    border: 1px solid darkcyan;
    display: grid;
    gap: 15px;

    .header {
        font-size: adaptiveSize(30, 20);
    }

    .textArea {
        padding: 0%;
        width: 100%;
        height: adaptiveSize(250, 100);
        background-color: rgba(223, 223, 223, 0.541);
        resize: none;
        padding: 1%;
        border: 1px solid rgba(0, 139, 139, 0.228);
        border-left: none;
        border-right: none;

        &::placeholder {
            // color: rgba(0, 0, 0, 0.5);
        }
    }

    .btn {
        justify-self: end;
        margin: 0 10px 10px 10px;
    }
}