@import '../../styles/root.scss';

.user {
    border: 1px solid darkcyan;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    gap: adaptiveSize(20, 10);

    .avatar {
        align-self: start;
        width: 100%;
    }

    .info {
        .name {
            margin-bottom: adaptiveSize(20, 10);

            .firstName {
                margin-right: 10px;
            }

            .lastName {}
        }

        .birth-date {}

        .city {}

        .education {}

        .site {}
    }
}