@import '../../styles/root.scss';

.container {
    max-width: 1440px;
    height: calc((var(--vh, 1vh) * 100) - 5px);
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr auto;
    gap: adaptiveSize(10, 5);
    grid-template-areas:
        'h h'
        'a m'
    ;

    header {
        grid-area: h;
    }

    aside {
        grid-area: a;
        align-self: start;
    }

    main {
        grid-area: m;
    }
}