@import '../../styles/root.scss';

.aside {
    background-color: darkcyan;
    padding: adaptiveSize(20, 5);
    display: grid;

    nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, adaptiveSize(40, 30));

        a {
            text-decoration: none;
            white-space: nowrap;
            color: wheat;
            align-self: start;

            &:active {
                color: wheat;
            }

            &:visited {
                color: wheat;
            }

            &:last-child {
                align-self: end;
            }
        }
    }
}