@import '../../styles/root.scss';

.aside {
    background-color: darkcyan;
    padding: adaptiveSize(30, 5);
    height: calc(100vh - adaptiveSize(200, 82));

    nav {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        align-content: start;

        a {
            text-decoration: none;
            white-space: nowrap;
            color: wheat;
            align-self: start;

            &:active {
                color: wheat;
            }

            &:visited {
                color: wheat;
            }

            &:last-child {
                margin-top: calc(100vh - adaptiveSize(480, 225));
            }
        }
    }

}