@import '../../styles/root.scss';

.header {
    background-color: darkcyan;
    padding: adaptiveSize(30, 10);

    nav {
        height: inherit;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: adaptiveSize(30, 18);
        justify-items: end;


        img {
            height: adaptiveSize(100, 50);
            width: adaptiveSize(100, 50);
            margin-right: auto;
        }

        a {
            text-decoration: none;
            white-space: nowrap;
            color: wheat;

            &:active {
                color: wheat;
            }

            &:visited {
                color: wheat;
            }
        }
    }
}