@import '../../styles/root.scss';

@mixin box-shadow {
    padding: 5px;
    border-radius: 7px;
    border: 2px solid rgb(13, 118, 170);
    box-shadow: inset 0 0 20px rgba(27, 160, 226, 0.577);
    background-color: wheat;
}

$lightColor: wheat;
$darkColor: rgb(13, 118, 170);

.dialogs {
    background-color: rgb(27, 161, 226);
    border-radius: 7px;
    color: $lightColor;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    grid-template-areas:
        't-1 t-1'
        't-2 t-3'
    ;
    gap: adaptiveSize(10, 5);
    height: inherit;

    .header {
        grid-area: t-1;
        @include box-shadow;
        padding-left: 18px;
        color: $darkColor;
    }
}