@import '../../styles/root.scss';

@mixin box-shadow {
    padding: 5px;
    border-radius: 7px;
    border: 2px solid rgb(13, 118, 170);
    box-shadow: inset 0 0 20px rgba(27, 160, 226, 0.577);
    background-color: wheat;
}

$lightColor: wheat;
$darkColor: rgb(13, 118, 170);

.dialogs {
    background-color: rgb(27, 161, 226);
    border-radius: 7px;
    color: $lightColor;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    grid-template-areas:
        't-1 t-1'
        't-2 t-3'
    ;
    gap: adaptiveSize(10, 5);
    height: inherit;

    .header {
        grid-area: t-1;
        @include box-shadow;
        padding-left: 18px;
        color: $darkColor;

    }

    .friends {
        grid-area: t-2;
        @include box-shadow;
        margin: 0;
        padding: adaptiveSize(10, 5);
        color: $darkColor;

        li {
            a {
                color: $darkColor;
                padding: adaptiveSize(10, 5) 0;
            }
        }
    }

    .messages {
        grid-area: t-3;
        list-style: none;
        margin: 0;
        padding: 0;
        color: $darkColor;

        .person {
            margin: 0 0 adaptiveSize(10, 5) 0;
            display: grid;
            gap: adaptiveSize(10, 5);
            grid-template-columns: max-content minmax(0px, 2000px);
            @include box-shadow;

            &:last-child {
                margin: 0;
            }


            .avatar {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, min-content);
                justify-items: center;
                align-items: center;

                img {
                    width: adaptiveSize(100, 40);
                }

                // span {}
            }

            .message {
                position: relative;
                display: grid;
                align-content: center;
                @include box-shadow;
            }
        }

        // .user {
        //     .avatar {
        //         img {}

        //         span {}
        //     }

        //     .message {}
        // }

        // .friend {
        //     .avatar {
        //         img {}

        //         span {}
        //     }

        //     .message {}
        // }

    }
}

@media (max-width:550px) {
    .dialogs {
        .messages {
            .person {
                gap: 0;
                grid-template-columns: auto;

                .avatar {
                    display: grid;
                    gap: 5px;
                    grid-template-columns: max-content max-content;
                    grid-template-rows: repeat(2, min-content);
                    justify-items: center;
                    align-items: center;
                }
            }
        }
    }
}